# activation de la réécriture d'urls
Options +FollowSymlinks
RewriteEngine on


# un commentaire
RewriteRule ^accueil$  index.php [L]
RewriteRule ^admin$  index.php?page=admin [L]
RewriteRule ^dashboard$  index.php?page=dashboard [L]