# activation de la réécriture d'urls
Options +FollowSymlinks
RewriteEngine on


# un commentaire
RewriteRule ^accueil$  index.php [L]
RewriteRule ^adminConnexion$  index.php?page=adminConnexion [L]
RewriteRule ^adminashboard$  index.php?page=adminDashboard [L]

RewriteRule ^user$  index.php?page=user [L] 
RewriteRule ^userConnexion$  index.php?page=userConnexion [L]
RewriteRule ^userDashboard$  index.php?page=userDashboard [L]
RewriteRule ^newUser$  index.php?page=newUser [L]
RewriteRule ^players$  index.php?page=players [L]
RewriteRule ^esports$  index.php?page=esports [L]


